@media only screen and (min-width: 545px) {

    .hamburger {
        display: none;
    }

    .day-night {
        grid-column: 4 / 5;
    }

    nav {
        display: block;
    }

    nav ul {
        display: flex;
        justify-content: space-around;
    }

    nav li {
        width: 100%;
        text-align: center;
        border-right: 1px solid white;
    }

    .hero-div {
        max-width: 800px;
        height: 350px;
        background-image: url("../images/kate-shelley-high-bridge-optimized.webp");
        background-position: center center;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    footer div:first-child {
        word-break: break-word;
    }

    .icon-flexbox {
        margin: 0 0;
    }
}