:root {
    --the-gray-black: #272D2D;
    --the-red-pink: #F99B80;
    --the-green: #23CE6B;
}

*,
*::before,
*::after {
    margin: 0;
    font-family: "Winky Rough", sans-serif;
    box-sizing: border-box;
}

header,
nav,
main,
footer {
    max-width: 1000px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 24px auto 6px 44px;
    background-color: var(--the-gray-black);
    color: white;
    padding: 0.5rem 0;
    font-size: 1.2rem;
    column-gap: 20px;
    align-items: center;
}

header img {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

header button {
    background-color: inherit;
    border: none;
    cursor: pointer;
}

.hamburger::before {
    content: "\2630";
    color: white;
    font-size: 1.4rem;
}

.day-night::after {
    content: "\25D0";
    color: white;
    font-size: 1.4rem;
}

nav {
    background-color: var(--the-green);
    display: none;
}

nav.show {
    display: block;
}

nav ul {
    width: 100%;
    margin: 0;
    padding: 0;
}

nav li {
    list-style: none;
    height: 44px;
    text-align: right;
    border-top: 1px solid white;
}

nav li.current {
    text-decoration: underline;
}

nav li:hover {
    background-color: var(--the-red-pink);
}

nav a {
    text-decoration: none;
    color: var(--the-gray-black);
    line-height: 44px;
    padding-right: 10px;
}

.hero-div {
    max-width: 1000px;
    height: 275px;
    background-image: url("../images/kate-shelley-high-bridge-optimized-cropped.webp");
    background-position: center center;
}

.call-to-action {
    text-decoration: none;
}

.hero-div h2 {
    font-size: 2.5rem;
    text-align: center;
    color: var(--the-green);
    text-shadow: 1px 1px 2px var(--the-gray-black);
    cursor: pointer;
    padding-top: 1.5rem;
}

.hero-div h2:hover {
    color: var(--the-red-pink);
}

h1 {
    padding-left: 10px;
}

fieldset {
    margin: 1rem 10px;
    border: 2px solid var(--the-gray-black);
}

.members-div {
    min-height: 1000px;
}

.members-div.home {
    min-height: 320px;
}

.events-div,
.weather-div,
.forecast-div {
    background-color: var(--the-gray-black);
    border: 2px solid var(--the-gray-black);
    border-radius: 5px;
    min-width: 240px;
    margin: 0 10px 1rem 10px;
    color: white;
    padding-bottom: 0.5rem;
    line-height: 1.5rem;
}

.events-div h2,
.weather-div h2,
.forecast-div h2 {
    background-color: white;
    text-align: center;
    color: var(--the-gray-black);
    margin-bottom: 0.5rem;
}

.events-div {
    height: 100px;
}

.weather-div {
    display: grid;
    grid-template-columns: 5fr 8fr;
    grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr 1fr;
}

.weather-div h2 {
    grid-column: 1 / 3;
}

.weather-div p {
    grid-column: 2 / 3;
}

#weather-icon {
    grid-column: 1 / 2;
    grid-row: 2 / -1;
    min-height: 1px;
}

.forecast-div p {
    font-size: 1.15rem;
    line-height: 2rem;
    margin-left: 10px;
}

#desc {
    text-transform: capitalize;
}

/* STYLING FOR GRID VIEW MODE */

.members-div.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-template-rows: auto;
    gap: 10px;
    margin-bottom: 1rem;
    max-width: 100%;
}

.member-div.grid {
    background-color: var(--the-green);
    border: 2px solid var(--the-gray-black);
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    min-width: 240px;
    margin: 0 10px 0 10px;
}

.member-div.grid.home {
    background-color: var(--the-green);
    border: 2px solid var(--the-gray-black);
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    min-width: 240px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.member-div.grid h2 {
    text-align: center;
    background-color: var(--the-gray-black);
    color: white;
    grid-column: 1/3;
    grid-row: 1/2;
    width: 100%;
}

.member-div.grid span {
    text-align: center;
    background-color: var(--the-gray-black);
    color: white;
    font-size: 0.75rem;
    grid-column: 1/3;
    grid-row: 2/3;
    width: 100%;
    padding-bottom: 4px;
}

.member-div.grid img {
    min-width: 80px;
    width: 90%;
    height: auto;
    margin: 10px auto;
    grid-column: 1/2;
    grid-row: 3 / 20;
    align-self: center;
}

.member-div.grid p {
    margin: 0.2rem 0;
    grid-column: 2/3;
    overflow-wrap: break-word;
    word-break: break-word;
}


/* STYLING FOR LIST VIEW MODE */

.member-div.list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0.5rem 10px 1.5rem 10px;
}

.members-div.list h2 {
    margin-left: 10px;
}

#form-submission-results h2 {
    margin-left: 10px;
}

#form-submission-results li {
    margin: 1rem 0;
}

.link-home {
    margin: 1rem 0 2rem 10px;
    line-height: 44px;
}

footer {
    background-color: var(--the-gray-black);
    color: white;
    font-size: 1.2rem;
    align-items: center;
    margin-top: 0.5rem;
}

footer div {
    padding: 0.75rem 10px;
}

footer p {
    font-size: 1rem;
}

h3 {
    font-weight: bold;
    font-size: 1rem;
}

.icon-flexbox {
    display: flex;
    justify-content: space-around;
    margin: 0 5rem;
}

.icon-flexbox img {
    width: 44px;
    height: 44px;
}

#join-form {
    margin-left: 10px;
    max-width: 100%;
}

#join-form h2 {
    margin: 1rem 0;
}

#join-form>label {
    width: 100%;
}

#join-form input[type="text"],
#join-form input[type="email"],
#join-form input[type="tel"],
#join-form textarea {
    display: block;
    margin: 0.25rem 0 0.95rem 0;
    min-height: 44px;
    min-width: 250px;
    width: 60%;
    max-width: 400px;
}

#join-form select {
    display: block;
    margin: 0.25rem 0 0.95rem 0;
    min-height: 44px;
    min-width: 250px;
    width: 60%;
    max-width: 400px;
}

:required:invalid {
    border-left: 4px solid red;
}

:required:valid {
    border-left: 4px solid green;
}

#submit-button {
    min-width: 250px;
    width: 60%;
    max-width: 400px;
    margin: 0.25rem 0 1.25rem 0;
    line-height: 44px;
    font-size: 1.25rem;
    background-color: var(--the-green);
    color: var(--the-gray-black);
    border-radius: 5px;
    font-weight: bold;
}

#membership-levels-div h2 {
    margin-left: 10px;
    margin: 1rem;
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.membership-level-card {
    border: 3px solid var(--the-gray-black);
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0.5rem;
    background: var(--the-green);
    margin: 10px;
    text-align: center;
    min-width: 250px;
    width: 60%;
    max-width: 400px;
    animation: slideInFromRight 0.4s ease-in;
}

.membership-level-card:nth-of-type(1) {
    animation-delay: 0.1s;
}

.membership-level-card:nth-of-type(2) {
    animation-delay: 0.2s;
}

.membership-level-card:nth-of-type(3) {
    animation-delay: 0.3s;
}

.membership-level-card:nth-of-type(4) {
    animation-delay: 0.4s;
}

.membership-level-card h3 {
    margin: 0.5rem 0;
    font-size: 1.25rem;
}

.membership-level-card button {
    margin: 0.5rem 0;
    width: 50%;
    line-height: 44px;
    font-size: 1.1rem;
    border-radius: 8px;
    background-color: var(--the-gray-black);
    color: white;
    border: 2px solid white;
    cursor: pointer;
}

.membership-modal {
    width: 75%;
    height: 80%;
    margin: auto;
    padding: 0;
}

.close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 44px;
}

.membership-modal h4 {
    text-align: center;
    background-color: var(--the-gray-black);
    color: white;
    width: 100%;
    font-size: 1.2rem;
    padding: 1rem 0;
    margin-bottom: 20px;
}

.membership-modal p {
    padding: 0.5rem 1rem;
}

.membership-modal li {
    margin: 0.35rem 0;
}

::backdrop {
    background-color: rgb(0 0 0 / 50%);
}

#put-here>div {
    border: 1px solid gray;
    border-radius: 8px;
    background-color: #f4f4f4;
    margin: 10px;
    overflow: hidden;

    display: grid;
    grid-template-areas:
        "name"
        "photograph"
        "description"
        "address"
        "button";
}

#put-here div>h2 {
    margin: 1rem;
    grid-area: name;
}

#put-here div>img {
    width: 100%;
    height: auto;
    grid-area: photograph;
}

#put-here div>p {
    margin: 10px 10px 20px 10px;
    grid-area: description;
}

#put-here div>address {
    margin: 20px 10px;
    grid-area: address;
}

.flex-div>button {
    width: 90%;
    margin: 10px auto;
    padding: 0.5rem 0;
    border-radius: 1rem;
    background-color: var(--the-gray-black);
    color: white;
}

.flex-div {
    width: 100%;
    display: flex;
    grid-area: button;
}

#welcome-message {
    margin: 10px 10px 20px 10px;
}