:root {
    --the-gray-black: #272D2D;
    --the-red-pink: #F99B80;
    --the-green: #23CE6B;
}

*,
*::before,
*::after {
    margin: 0;
    font-family: "Winky Rough", sans-serif;
    box-sizing: border-box;
}

header,
nav,
main,
footer {
    max-width: 800px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 24px auto 6px 44px;
    background-color: var(--the-gray-black);
    color: white;
    padding: 0.5rem 0;
    font-size: 1.2rem;
    column-gap: 20px;
    align-items: center;
}

header img {
    width: 24px;
    height: auto;
}

header button {
    background-color: inherit;
    border: none;
    cursor: pointer;
}

.hamburger::before {
    content: "\2630";
    color: white;
    font-size: 1.4rem;
}

.day-night::after {
    content: "\25D0";
    color: white;
    font-size: 1.4rem;
}

nav {
    background-color: var(--the-green);
    display: none;
}

nav.show {
    display: block;
}

nav ul {
    width: 100%;
    margin: 0;
    padding: 0;
}

nav li {
    list-style: none;
    height: 44px;
    text-align: right;
    border-top: 1px solid white;
}

nav li.current {
    text-decoration: underline;
}

nav li:hover {
    background-color: var(--the-red-pink);
}

nav a {
    text-decoration: none;
    color: var(--the-gray-black);
    line-height: 44px;
    padding-right: 10px;
}

h1 {
    padding-left: 10px;
}

fieldset {
    margin: 1rem 10px;
    border: 2px solid var(--the-gray-black);
}



/* STYLING FOR GRID VIEW MODE */

.members-div.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-template-rows: auto;
    gap: 10px;
    margin-bottom: 1rem;
}

.member-div.grid {
    background-color: var(--the-green);
    border: 2px solid var(--the-gray-black);
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto-fit, 1fr;
    min-width: 260px;
}

.member-div.grid h2 {
    text-align: center;
    background-color: var(--the-gray-black);
    color: white;
    grid-column: 1/3;
    grid-row: 1/2;
    width: 100%;
}

.member-div.grid span {
    text-align: center;
    background-color: var(--the-gray-black);
    color: white;
    font-size: 0.75rem;
    grid-column: 1/3;
    grid-row: 2/3;
    width: 100%;
    padding-bottom: 4px;
}

.member-div.grid img {
    min-width: 80px;
    width: 90%;
    height: auto;
    margin: 10px auto;
    grid-column: 1/2;
    grid-row: 3 / 20;
    align-self: center;
}

.member-div.grid p {
    margin: 0.2rem 0;
    grid-column: 2/3;
    overflow-wrap: break-word;
    word-break: break-word;
}


/* STYLING FOR LIST VIEW MODE */

.member-div.list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0.5rem 10px 1.5rem 10px;
}

.members-div.list h2 {
    margin-left: 10px;
}


footer {
    background-color: var(--the-gray-black);
    color: white;
    font-size: 1.2rem;
    align-items: center;
}

footer div {
    padding: 0.75rem 10px;
}

footer p {
    font-size: 1rem;
}

h3 {
    font-weight: bold;
    font-size: 1rem;
}

.icon-flexbox {
    display: flex;
    justify-content: space-around;
    margin: 0 5rem;
}

.icon-flexbox img {
    width: 44px;
    height: auto;
}