:root {
    --the-gray-black: #272D2D;
    --the-red-pink: #F99B80;
    --the-green: #23CE6B;
}

*,
*::before,
*::after {
    margin: 0 auto;
    font-family: "Winky Rough";
    box-sizing: border-box;
}

header,
nav,
main,
footer {
    max-width: 800px;
}

header {
    display: grid;
    grid-template-columns: 24px auto 44px 44px;
    background-color: var(--the-gray-black);
    color: white;
    padding: 0.5rem 0;
    font-size: 1.2rem;
    column-gap: 20px;
    align-items: center;
}

header img {
    width: 24px;
    height: auto;
}

header button {
    background-color: inherit;
    border: none;
}

#ham-btn::before {
    content: "\2630";
    color: white;
    font-size: 1.4rem;
}

nav {
    background-color: var(--the-green);
}

nav ul {
    width: 100%;
    margin: 0;
    padding: 0;
}

nav li {
    list-style: none;
    height: 44px;
    text-align: right;
}

nav li:hover {
    background-color: var(--the-red-pink);
}

nav a {
    text-decoration: none;
    color: var(--the-gray-black);
    line-height: 44px;
    padding-right: 10px;
}