:root {
    --muted-brain-pink: #F17C76;
    --muted-money-green: #9CD85C;
    --background-white: #fcfcfc;
    --section-gray: #E8E8E8;
    --text-black: #2A2A2A;
    --strong-brain-pink: #e04444;
    --strong-money-green: #58A021;
}