:root {
    --muted-brain-pink: #F17C76;
    --muted-money-green: #9CD85C;
    --background-white: #fcfcfc;
    --section-gray: #E8E8E8;
    --text-dark-gray: #798DA3;
    --text-black: #2A2A2A;
    --strong-brain-pink: #e04444;
    --strong-money-green: #58A021;
}

* {
    font-family: "Open Sans";
    box-sizing: border-box;
    margin: 0;
}

h1 {
    background-color: var(--muted-brain-pink);
    color: var(--background-white);
    padding: 1rem 0;
}

h1,
h2 {
    font-family: "EB Garamond";
}

#eb-garamond-span {
    font-family: "EB Garamond";
    font-size: 1.35rem;
    color: var(--text-black);
    background-color: var(--strong-money-green);
    padding: 0 2px;
}

#open-sans-span {
    font-family: "Open Sans";
    font-size: 1.15rem;
    color: var(--background-white);
    background-color: var(--strong-brain-pink);
    padding: 0 2px;
}

section {
    padding: 1rem 10px;
}

section:nth-child(odd) {
    background-color: var(--section-gray);
    width: 100%;
}

h2,
p {
    margin: 0.5rem;
}

p,
li {
    line-height: 2rem;
}

#h2-and-img-flex {
    display: flex;
    align-items: center;
}

._F17C76 {
    color: var(--muted-brain-pink);
}

._9CD85C {
    color: var(--muted-money-green);
}

._FCFCFC {
    color: var(--background-white);
}

._E8E8E8 {
    color: var(--section-gray);
    background-color: var(--text-black);
}

._2A2A2A {
    color: var(--text-black);
}

._E04444 {
    color: var(--strong-brain-pink);
}

._58A021 {
    color: var(--strong-money-green);
}

#left-pink {
    color: var(--strong-brain-pink);
    font-family: "EB Garamond";
    font-size: 1.75rem;
}

#right-green {
    color: var(--strong-money-green);
    font-family: "EB Garamond";
    font-size: 1.75rem;
}