:root {
    --muted-brain-pink: #F17C76;
    --muted-money-green: #9CD85C;
    --background-white: #fcfcfc;
    --section-gray: #E8E8E8;
    --text-dark-gray: #798DA3;
    --text-black: #2A2A2A;
    --strong-brain-pink: #e04444;
    --strong-money-green: #58A021;
}

* {
    font-family: "Open Sans";
    box-sizing: border-box;
    margin: 0;
}

header {
    background-color: var(--muted-brain-pink);
    color: var(--background-white);
    font-family: "EB Garamond";
    font-size: 2rem;
    margin: 0;
    display: grid;
    grid-template-columns: 24px auto 52px;
    align-items: center;
    padding: 0.35rem 0;
    gap: 1.5rem;
}

header img {
    margin-left: 10px;
}

h1,
h2,
h3,
h4 {
    font-family: "EB Garamond";
    color: var(--text-black);
}

span {
    font-family: inherit;
}

.navigation {
    background-color: var(--muted-money-green);
    margin: 0;
    display: none;
}

.navigation li {
    list-style: none;
    border-top: 1px solid var(--the-white);
    text-align: left;
    color: var(--the-white);
    cursor: pointer;
    height: 44px;
}

.hamburger {
    background-color: inherit;
    border: none;
    color: var(--background-white);
}

.hamburger::before {
    content: "\2630";
    font-size: 1.75rem;
}

.hamburger.show::before {
    content: "\00D7";
    font-size: 2rem;
}

.navigation.show {
    display: block;
}

.navigation a {
    text-decoration: none;
    color: var(--background-white);
}

.green-text {
    color: var(--muted-money-green);
}

.pink-text {
    color: var(--muted-brain-pink);
}

.bold {
    font-weight: bold;
}