:root {
    --muted-brain-pink: #F17C76;
    --muted-money-green: #9CD85C;
    --background-white: #fcfcfc;
    --section-gray: #E8E8E8;
    --text-dark-gray: #798DA3;
    --text-black: #2A2A2A;
    --strong-brain-pink: #e04444;
    --strong-money-green: #58A021;
}

* {
    font-family: "Open Sans";
    box-sizing: border-box;
    margin: 0;
}

header {
    background-color: var(--muted-brain-pink);
    color: var(--background-white);
    font-family: "EB Garamond";
    font-size: 2rem;
    margin: 0;
}

h1,
h2,
h3,
h4 {
    font-family: "EB Garamond";
}

span {
    font-family: inherit;
}

.navigation {
    background-color: var(--muted-money-green);
    margin: 0;
}

.navigation li {
    list-style: none;
    border-top: 1px solid var(--the-white);
    text-align: left;
    color: var(--the-white);
    cursor: pointer;
    height: 44px;
}

.navigation a {
    text-decoration: none;
    color: var(--background-white);
}

.green-text {
    color: var(--muted-money-green);
}

.pink-text {
    color: var(--muted-brain-pink);
}

.bold {
    font-weight: bold;
}