:root {
    --muted-brain-pink: #F17C76;
    --muted-money-green: #9CD85C;
    --background-white: #FFFFFF;
    --section-gray: #E8E8E8;
    --text-dark-gray: #576a7e;
    --text-black: #2A2A2A;
    --strong-brain-pink: #DE3535;
    --strong-money-green: #48831B;
}

* {
    font-family: "Open Sans";
    box-sizing: border-box;
    margin: 0;
    color: var(--text-black);
}

header {
    background-color: var(--strong-brain-pink);
    color: var(--background-white);
    font-family: "EB Garamond";
    font-size: 2rem;
    margin: 0;
    display: grid;
    grid-template-columns: 24px auto 52px;
    align-items: center;
    padding: 0.35rem 0;
    gap: 1.5rem;
    height: 54px;
    position: relative;
}

.header-span,
.header-span>span {
    color: var(--background-white);
    background-color: inherit;
}

header img {
    margin-left: 10px;
}

main {
    background-color: var(--background-white);
}

h1,
h2,
h3,
h4 {
    font-family: "EB Garamond";
    color: var(--text-black);
}

span {
    font-family: inherit;
}

.navigation {
    background-color: var(--strong-money-green);
    margin: 0;
    display: none;
}

.navigation li {
    list-style: none;
    border-top: 1px solid var(--the-white);
    text-align: left;
    color: var(--the-white);
    height: 44px;
    line-height: 44px;
}

.navigation li.current {
    font-weight: bold;
    text-decoration: underline var(--background-white);
}

.hamburger {
    background-color: inherit;
    border: none;
    color: var(--background-white);
    cursor: pointer;
    max-height: 54px;
    position: absolute;
    right: 10px;
}

.hamburger::before {
    content: "\2630";
    font-size: 1.75rem;
    width: 50px;
}

.hamburger.show::before {
    content: "\00D7";
    font-size: 2.75rem;
}

.navigation.show {
    display: block;
}

.navigation a {
    text-decoration: none;
    color: var(--background-white);
}

.navigation ul {
    margin: 0;
    width: 100%;
    padding: 0;
}

.navigation li {
    text-align: right;
    padding: 0 10px 0 0;
}

.navigation li:hover {
    background-color: var(--strong-money-green);
}

.green-text {
    color: var(--muted-money-green);
    background-color: transparent;
}

.pink-text {
    color: var(--muted-brain-pink);
    background-color: transparent;
}

.bold {
    font-weight: bold;
}

.hero-div {
    background-image: url(https://raw.githubusercontent.com/TylerPete/wdd231/main/finalproject/images/braincents-3d-image-small.webp);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    height: 50vh;
    display: grid;
    grid-template-columns: 19fr 16fr;
    align-items: center;
}

h2 {
    margin-left: 10px;
}

.hero-div h2 {
    font-size: clamp(22px, 7.5vw, 44px);
    background-color: transparent;
}

p {
    color: var(--text-dark-gray);
    margin: 15px 15px 10px 15px;
}

.hero-div p {
    grid-column: 1 / 2;
    margin: 0 16px 0 10px;
    background-color: transparent;
}

.button-div {
    display: flex;
    justify-items: center;
}

.cta-button {
    grid-column: 1 / 3;
    color: var(--background-white);
    height: 44px;
    border-radius: 20px;
    width: 90%;
    font-weight: bold;
    margin: 20px auto;
    cursor: pointer;
}

.pink-button {
    background-color: var(--muted-brain-pink);
    border: 1px solid var(--strong-brain-pink);
}

.green-button {
    background-color: var(--muted-money-green);
    border: 1px solid var(--strong-money-green);
}

.pink-button:hover {
    background-color: var(--strong-brain-pink);
}

.green-button:hover {
    background-color: var(--strong-money-green);
}

hr {
    margin: 15px 0;
}

.home-page-icon {
    background-color: var(--section-gray);
    border-radius: 50%;
    padding: 10px;
    margin: 10px 10px 15px 10px;
}

.home-div {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    justify-items: center;
}

.home-div h2 {
    margin: 0 10px;
    justify-self: start;
}

.home-div p {
    grid-column: 1 / 3;
    justify-self: start;
}

.home-div-link {
    text-decoration: none;
}

.cta-section {
    text-align: center;
}

.cta-section h2 {
    margin: 10px;
}

footer {
    background-color: var(--section-gray);
    font-size: 12px;
    padding-bottom: 5px;
}

footer a {
    text-decoration: none;
}

.footer-div {
    background-color: inherit;
}

.footer-div h3 {
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 12px;
    padding-top: 30px;
}

footer h3,
footer p {
    margin-left: 10px;
    background-color: inherit;
}

footer p {
    padding: 5px 0;
}

.icon-flexbox {
    padding: 15px 0;
    display: flex;
    gap: 30px;
    justify-content: center;
    background-color: inherit;
}

.icon-flexbox a {
    background-color: inherit;
}

.icon-flexbox img {
    background-color: inherit;
}

.footer-bottom-div {
    display: grid;
    grid-template-columns: 44px 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    margin: 0 10px;
    background-color: inherit;
}

.footer-bottom-div p {
    margin: 0;
    padding: 0;
}

#currentyear {
    color: var(--text-dark-gray);
}

#braincents-logo {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

#braincents-logo img {
    background-color: inherit;
}

#copyright-p {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    background-color: inherit;
}

#currentyear {
    background-color: inherit;
}

/* Retirement Hub page rules */

h1 {
    margin: 0;
    padding: 20px 0px 0px 10px;
}

.non-home-h2 {
    margin-left: 20px;
}

.filter-div {
    margin: 10px;
}

.filter-label {
    margin: 10px 0;
    display: block;
}

#reset-filters-button {
    display: block;
    background-color: transparent;
    border: none;
    font-size: 12px;
    color: #0000EE;
    margin: 0.5rem 0;
    cursor: pointer;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 0 10px;
}

#account-type-cards-div {
    width: 100%;
    display: flex;
    align-items: center;
}

.account-card {
    border: 1px solid var(--text-dark-gray);
    border-radius: 5px;
    height: 200px;
    width: 175px;
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-columns: 4fr 9fr;
    grid-template-rows: 7fr 3fr 3fr;
    padding: 10px 0;
    margin: 10px auto;
}

.account-card h4 {
    margin-top: 25px;
    grid-column: 2 / 3;
    justify-self: start;
    align-self: start;
}

.account-card p {
    grid-column: 1 / 3;
    font-size: 13px;
}

.open-modal-button {
    display: block;
    background-color: transparent;
    grid-column: 1 / 3;
    border: none;
    font-size: 12px;
    color: #0000EE;
    margin: 0.5rem 0;
    cursor: pointer;
}

.account-type-icon {
    background-color: var(--section-gray);
    border-radius: 50%;
    padding: 5px;
}

/*    v   v   v   v   v   v   v */
/* To do: Add CSS ANIMATIONS for ACCOUNT TYPE CARDS on the RETIREMENT HUB PAGE */
/*     ^   ^   ^   ^   ^   ^   ^  */